<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440866399538-4nu56cm74ght0smaf5q2m5gm14aj85r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440866399538-4nu56cm74ght0smaf5q2m5gm14aj85r2</string>
	<key>API_KEY</key>
	<string>AIzaSyCuZoHcD6yyu0rXKKcQXBYKroT0HQuaPwA</string>
	<key>GCM_SENDER_ID</key>
	<string>440866399538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axis.Practice1</string>
	<key>PROJECT_ID</key>
	<string>practice1-6e104</string>
	<key>STORAGE_BUCKET</key>
	<string>practice1-6e104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440866399538:ios:10a6a6e06333152c9ea32b</string>
</dict>
</plist>